.footer {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
    border-top: #354BCF 2px solid;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerList a {
    color: #354BCF;
    text-decoration: none;
}

.footerList a:hover {
    color: #354BCF;
    text-decoration: underline;
}

.socmed {
    color: #354BCF;
    display: flex;
    gap: 20px;
    align-items: center;
}

.socmed img {
    width: 20px;
}

/* Responsive */

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    ul {
        margin: 20px;
        flex-wrap: wrap;
    }
}