* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formcontainer {
    padding: 100px;
    color: #354BCF;
    background-image: url('../assets/formBack.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.formcontainer h1 {
    margin-bottom: 20px;
    font-size: 24px;
    padding-left: 20px;
}

.form {
    border: #354BCF 1px solid;
    border-radius: 103px;
    padding: 50px;
    margin-inline: 20px;
    position: relative;
    background-color: white;
}

.title {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}

.title span {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #354BCF;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

.title h2 {
    font-size: 20px;
    font-weight: 500;
    color: #354BCF;
}

.formcard {
    display: flex;
    justify-content: left;
    gap: 100px;
    margin: 50px;
}

.formgroup {
    display: flex;
    flex-direction: column;
}

.formgroup input {
    width: 100%;
    padding: 10px;
    border: #354BCF 1px solid;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.formgroup select {
    width: 100%;
    padding: 10px;
    border: #354BCF 1px solid;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

input::file-selector-button {
    padding: 30px 20px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

#img {
    padding: 0;
    margin-top: 20px;
}

#description {
    width: 100%;
    padding: 10px;
    border: #354BCF 1px solid;
    border-radius: 10px;
    margin-top: 15px;
    height: 100px;
}

#formbtn {
    background-color: #354BCF;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    border-radius: 17px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    cursor: pointer;
}