label,
input {
    display: block;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: white 1px solid;
    border-radius: 5px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    width: 20%;
    height: 60%;
}

.buttonInscrire,
.buttonConnexion {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    cursor: pointer;
}

.buttonInscrire {
    border: rgb(255, 255, 255) 1px solid;
    color: rgb(255, 255, 255);
    background-color: #2b2a33;
}
