li,
a,
ul {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.1em;
    padding-block: 1.5em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    display: flex;
    gap: 3rem;
}

.navbar a {
    font-family: "fredokaBold", sans-serif;
}

.connecter {
    display: flex;
    gap: 1rem;
}

.connexion {
    background-color: #354bcf;
    border: none;
    font-size: medium;
    width: 150px;
    height: 30px;
    border-radius: 10px;

    & a {
        color: white;
    }
}

.connexion:hover {
    border: #354bcf solid 2px;
    background-color: white;

    & a {
        color: #354bcf;
    }
}

.burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #f0f0f0;
        width: 100%;
        padding-inline: 20%;
        z-index: 999;
    }

    .connecter {
        display: none;
    }

    .burger {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }

    .open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .open .bar:nth-child(2) {
        opacity: 0;
    }

    .open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .burgerTitle {
        font-size: 30px;
        font-family: "fredokaBold", sans-serif;
        margin-block: 30px;
        text-transform: uppercase;
        color: #354bcf;
    }

    .burgerSubtitle {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: "fredokaBold", sans-serif;
        align-items: start;
        color: #354bcf;
    }

    .bouttonCompte {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        margin-bottom: 50px;
    }

    .bouttonCompte button {
        width: 100%;
        height: 40px;
        background-color: #354bcf;
        color: white;
        border: none;
        border-radius: 2.5px;
        font-size: 16px;
        font-family: "fredokaBold", sans-serif;
    }

    hr {
        width: 100%;
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
    }

    .budget {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        margin-bottom: 50px;
        font-size: 16px;
    }

    .budgetSubtitle {
        text-transform: uppercase;
        font-family: "fredokaBold", sans-serif;
        align-items: start;
        color: #354bcf;
    }

    .budgetProjet {
        width: 100%;
        height: 40px;
        color: #354bcf;
        background-color: white;
        border: #354bcf solid 2px;
        border-radius: 2.5px;
        font-family: "fredokaBold", sans-serif;
    }

    .deconnexion {
        font-family: "fredokaBold", sans-serif;
        width: 100%;
        height: 40px;
        background-color: #e22c3f;
        border: none;
        color: white;
        border-radius: 2.5px;
    }

    .image {
        margin-inline: auto;
    }
}
