.card {
    width: 100%;
    max-width: 600px;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 15px;
    border: 2px solid #3c4bc6;
    background-color: #fff;
    gap: 1.5em;
}

.containerImg {
    width: 200px;
    height: 200px;
}

.containerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.containerTextCard {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container h2 {
    margin-bottom: 0.2em ;
}

.container h2:hover {
    color: #3c4bc6;
}

.container p span {
    color: #013370;
}

.containerLike {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.buttonLike {
    border: none;
    background-color: white;
}

.buttonLike img {
    width: 25px;
    height: 25px;
}



